@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    &copy; NZ Inventory<br />
    <br />
    <abbr title="Phone">Phone</abbr>
    555-66545-1
</address>

<address>
    
   <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>